<div class="container-page">
  <div nz-row>
    <div nz-col nzSpan="12">输入/输出</div>
    <div nz-col nzSpan="12">详情</div>
  </div>

  <div nz-row>
    <!-- 输入内容 -->
    <div nz-col nzSpan="8">
      <form
        nz-form
        [nzLayout]="'inline'"
        [formGroup]="validateForm"
        (ngSubmit)="submitForm()"
      >
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input
                formControlName="userName"
                nz-input
                placeholder="Username"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input
                formControlName="password"
                nz-input
                type="password"
                placeholder="Password"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!validateForm.valid">
              Log in
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>

    <!-- 展示列表 -->
    <div nz-col nzSpan="16">
      <nz-table #basicTable [nzData]="listOfData" nzBordered>
        <thead>
          <tr>
            <th *ngFor="let item of listHeader">{{ item.value }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.date }}</td>
            <td>{{ data.type }}</td>
            <td>{{ data.price }}</td>
            <td>{{ data.member }}</td>
            <td>{{ data.remark }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
