<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="price">金额</nz-form-label>
    <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="请输入金额!">
      <input nz-input formControlName="price" id="price" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="date">日期</nz-form-label>
    <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="请选择日期!">
      <nz-date-picker formControlName="date" [nzStyle]="{ width: '100%' }"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="basicSelect">类型</nz-form-label>
    <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="请选择支出类型!">
      <nz-select style="width: 100%;" formControlName="basicSelect" nzAllowClear nzPlaceHolder="请选择支出类型！">
        <nz-option [nzValue]="item.value" [nzLabel]="item.label" *ngFor="let item of basicOptions"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <div class="form-box">
        <button nz-button class="login-form-button" [nzType]="'primary'">提交</button>
        <button nz-button class="login-form-button" [nzType]="'default'" (click)="resetForm($event)">重置</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
